openapi: 3.0.0
info:
  title: Hitcheed Laravel
  version: '1.0'
servers:
  - url: 'https://laravel.hitcheed.com/api/v1'
paths:
  '/professionals/{id}':
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Professionals
      tags: []
      responses: {}
      description: Getting single data of professionals
  /professionals:
    get:
      summary: Get All Professionals
      tags: []
      responses: {}
      description: Getting all the data of professionals
  /users:
    get:
      summary: Get Users
      tags: []
      responses: {}
  /login:
    post:
      summary: User login
      tags: []
      responses: {}
      description: User login
      parameters:
        - schema:
            type: string
          in: query
          name: email
          required: true
        - schema:
            type: string
          in: query
          name: password
          required: true
  /projects:
    get:
      summary: Get all projects
      tags: []
      responses: {}
      description: Getting all the data of projects
  '/project/{id}':
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      summary: Get single projects
      tags: []
      responses: {}
      description: Getting single data of projects
  '/testimonials/{id}':
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      summary: Get single testimonials
      tags: []
      responses: {}
      description: Getting single testimonial
  /testimonials:
    get:
      summary: Get all the data of testimonials
      tags: []
      responses: {}
  /register:
    post:
      summary: Register user
      tags: []
      responses: {}
      description: Register user
      parameters:
        - schema:
            type: string
          in: query
          name: email
          required: true
        - schema:
            type: string
          in: query
          name: password
          required: true
        - schema:
            type: string
          in: query
          name: c_password
          required: true
        - schema:
            type: string
          in: query
          name: name
          required: true
        - schema:
            type: string
          in: query
          name: user_role
          required: true
          description: |
            user/admin
  '/professionals/category/{id}':
    parameters:
      - type: string
        name: id
        in: path
        required: true
    get:
      summary: Get professionals filter by category id
      tags: []
      responses: {}
      description: Get all the professionals with category id
  /attendance:
    get:
      summary: Check Event Attendance
      tags: []
      responses: {}
      description: Check for event attendance
      parameters:
        - schema:
            type: string
          in: query
          name: phoneNumber
components:
  schemas: {}
